<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Peer Review Assignment - Data Engineer - Webscraping

Estimated time needed: **20** minutes

## Objectives

In this part you will:

*   Use webscraping to get bank information

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [1]:
#!pip install pandas
!pip install bs4
#!pip install requests

Collecting bs4
  Downloading https://files.pythonhosted.org/packages/10/ed/7e8b97591f6f456174139ec089c769f89a94a1a4025fe967691de971f314/bs4-0.0.1.tar.gz
Collecting beautifulsoup4 (from bs4)
  Downloading https://files.pythonhosted.org/packages/69/bf/f0f194d3379d3f3347478bd267f754fc68c11cbf2fe302a6ab69447b1417/beautifulsoup4-4.10.0-py3-none-any.whl (97kB)
     |████████████████████████████████| 102kB 13.6MB/s ta 0:00:01
Collecting soupsieve>1.2 (from beautifulsoup4->bs4)
  Downloading https://files.pythonhosted.org/packages/36/69/d82d04022f02733bf9a72bc3b96332d360c0c5307096d76f6bb7489f7e57/soupsieve-2.2.1-py3-none-any.whl
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py) ... done
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/a0/b0/b2/4f80b9456b87abedbc0bf2d52235414c3467d8889be38dd472
Successfully built bs4
Installing collected packages: soupsieve, beautifulsoup4, bs4
Successfully installed beautifulsoup4-4.10.0 bs4-0.0.1 soupsieve-2.2.1

## Imports

Import any additional libraries you may need here.

In [22]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

## Extract Data Using Web Scraping

The wikipedia webpage [https://en.wikipedia.org/wiki/List_of_largest_banks](https://en.wikipedia.org/wiki/List_of_largest_banks?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2021-01-01) provides information about largest banks in the world by various parameters. Scrape the data from the table 'By market capitalization' and store it in a JSON file.

### Webpage Contents

Gather the contents of the webpage in text format using the `requests` library and assign it to the variable <code>html_data</code>

In [23]:
#Write your code here
request = requests.get('https://en.wikipedia.org/wiki/List_of_largest_banks')
data = request.content # scrapped data

<b>Question 1</b> Print out the output of the following line, and remember it as it will be a quiz question:

In [24]:
data[101:124]

b'List of largest banks -'

### Scraping the Data

<b> Question 2</b> Using the contents and `beautiful soup` load the data from the `By market capitalization` table into a `pandas` dataframe. The dataframe should have the country `Name` and `Market Cap (US$ Billion)` as column names.  Display the first five rows using head.

Using BeautifulSoup parse the contents of the webpage.

In [25]:
#Replace the dots below
soup = BeautifulSoup(data, 'html5lib')

Load the data from the `By market capitalization` table into a pandas dataframe. The dataframe should have the country `Name` and `Market Cap (US$ Billion)` as column names. Using the empty dataframe `data` and the given loop extract the necessary data from each row and append it to the empty dataframe.

In [60]:
data = pd.DataFrame(columns=["Name", "Market Cap (US$ Billion)"])

for row in soup.find_all('tbody')[3].find_all('tr'):
    col = row.find_all('td')
    if (col != []):
        name = col[1].text.strip()
        market_cap = col[2].text.rstrip()
        #print(name, market_cap)
        data = data.append({"Name": name, "Market Cap (US$ Billion)": market_cap}, ignore_index=True)
        
data

                                       Name Market Cap (US$ Billion)
0                            JPMorgan Chase                  487.220
1   Industrial and Commercial Bank of China                  345.214
2                           Bank of America                  325.331
3                               Wells Fargo                  308.013
4                   China Construction Bank                  257.399
..                                      ...                      ...
65                             Ping An Bank                   37.993
66                       Standard Chartered                   37.319
67                     United Overseas Bank                   35.128
68                                QNB Group                   33.560
69                    Bank Rakyat Indonesia                   33.081

[70 rows x 2 columns]

**Question 3** Display the first five rows using the `head` function.

In [58]:
#Write your code here
data.head(5)

                                       Name Market Cap (US$ Billion)
0                            JPMorgan Chase                  487.220
1   Industrial and Commercial Bank of China                  345.214
2                           Bank of America                  325.331
3                               Wells Fargo                  308.013
4                   China Construction Bank                  257.399

### Loading the Data

Usually you will Load the `pandas` dataframe created above into a JSON named `bank_market_cap.json` using the `to_json()` function, but this time the data will be sent to another team who will split the data file into two files and inspect it. If you save the data it will interfere with the next part of the assignment.

In [61]:
#Write your code here
data.to_json('bank_market_cap.json')

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation.